<a href="https://colab.research.google.com/github/marianna13/Notebooks/blob/master/Pulsar_Stars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded = files.upload()

Saving pulsar_stars.csv to pulsar_stars.csv

In [0]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['pulsar_stars.csv']))

In [0]:
df.head()

    Mean of the integrated profile  ...  target_class
0                       140.562500  ...             0
1                       102.507812  ...             0
2                       103.015625  ...             0
3                       136.750000  ...             0
4                        88.726562  ...             0

[5 rows x 9 columns]

In [0]:
# check if there are any missing values
df.isnull().sum()

 Mean of the integrated profile                  0
 Standard deviation of the integrated profile    0
 Excess kurtosis of the integrated profile       0
 Skewness of the integrated profile              0
 Mean of the DM-SNR curve                        0
 Standard deviation of the DM-SNR curve          0
 Excess kurtosis of the DM-SNR curve             0
 Skewness of the DM-SNR curve                    0
target_class                                     0
dtype: int64

In [4]:
Y = df['target_class']
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: target_class, dtype: int64

In [36]:
X = df.drop(['target_class'], axis=1)
columns = list(X.columns.values)
X

        Mean of the integrated profile  ...   Skewness of the DM-SNR curve
0                           140.562500  ...                      74.242225
1                           102.507812  ...                     127.393580
2                           103.015625  ...                      63.171909
3                           136.750000  ...                      53.593661
4                            88.726562  ...                     252.567306
...                                ...  ...                            ...
17893                       136.429688  ...                     285.931022
17894                       122.554688  ...                       8.297092
17895                       119.335938  ...                       4.595173
17896                       114.507812  ...                     134.238910
17897                        57.062500  ...                       1.429475

[17898 rows x 8 columns]

In [37]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X = pd.DataFrame(scaler.fit_transform(X))
X.columns = columns
X

              0         1         2  ...         5         6         7
0      0.721342  0.417687  0.165043  ...  0.113681  0.294986  0.063890
1      0.517628  0.460908  0.235415  ...  0.072524  0.364015  0.108443
2      0.520346  0.196868  0.221138  ...  0.139188  0.288624  0.054610
3      0.700933  0.437884  0.181750  ...  0.131583  0.266348  0.046581
4      0.443854  0.214847  0.249044  ...  0.039684  0.462029  0.213369
...         ...       ...       ...  ...       ...       ...       ...
17893  0.699218  0.473948  0.169741  ...  0.046437  0.493364  0.241336
17894  0.624942  0.333936  0.201496  ...  0.360761  0.161482  0.008612
17895  0.607712  0.475144  0.204652  ...  0.498699  0.149653  0.005509
17896  0.581866  0.393617  0.208855  ...  0.058209  0.348926  0.114181
17897  0.274351  0.824590  0.330038  ...  0.555255  0.040918  0.002855

[17898 rows x 8 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [0]:
from xgboost import XGBClassifier
model = XGBClassifier(n_estimators=100, max_depth=3)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [34]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test, y_pred)
print('Accuracy: %.2f%%' % (accuracy * 100.0))

Accuracy: 97.71%